*{
  border: 1px solid orange;
}

body{
  width: 100vw;
  height: 50vw;
}

header{
  width: 100vw;
  height: 20vw;
  text-align: center;
}

.container{
  width: 100vw;
  height: 30vw;
  display: flex;
  flex-direction: column;
}

#username{
  align-self: center;
  border: 1px solid grey;
  width: 30vw;
  height: 2vw;
}

#password{
  align-self: center;
  border: 1px solid grey;
  width: 30vw;
  height: 2vw;
}

#confirm{
  align-self: center;
  border: 1px solid grey;
  width: 30vw;
  height: 2vw;
}

#signUp{
  background: limegreen;
  align-self: center;
  text-align: center;
  width: 28vw;
  height: 2vw;
}

#login{
  width: 15vw;
  height: 2vw;
  align-self: center;
  text-align: center;
}
