<div class="login"> 



    <header>
      <h1>Iron Meetups</h1>
      <h4>Please Login!</h4>
    </header>
    <div class="container">
      <input type="text" id="username" value="Username">
      <input type="text" id="password" value="Password">
      <button type="button" id="signUp">Sign Up</button>
      <button type="button" id="login">Login</button>

    </div>


</div>


<!-- look into removing the <iframe src="" width="" height=""></iframe> -->

//depending what page we're on, load the specific ifram that we'll be using
